<h1>Officers In Charge</h1>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Last Sign In Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officer_in_charges.each do |officer| %>
      <tr>
        <td><%= officer.email %></td>
        <td><%= Role.find(officer.role_id).name %></td>
        <td><%= officer.last_sign_in_at %></td>
  <!--<td><%= link_to 'Delete', destroy_officer_in_charge_path(officer.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to "Create New Account", new_officer_in_charge_registration_path %>