<h1>Officers In Charge</h1>
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th>Last Sign In Session</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @officer_in_charges.each do |officer| %>
      <tr>
        <td><%= officer.email %></td>
        <td><%= Role.find(officer.role_id).name %></td>
        <td><%= officer.last_sign_in_at %></td>

        <% if officer.email == "admin@ads.com" %>
          <td><%= link_to 'Delete', admin_destroy_user_path(officer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger disabled" %></td>

        <% else %>
          <td><%= link_to 'Delete', admin_destroy_user_path(officer), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Edit Administrator Account', edit_officer_in_charge_registration_path, class: "btn btn-warning" %>
<%= link_to "Create New Account", make_officer_in_charges_path, class: "btn btn-default" %>