<%= simple_form_for(@competition_debt) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :source_of_debt, placeholder: 'Reason for debt' %>
  </div>

  <div class="form-inputs">
    <%= f.input :debt_amount, placeholder: '0.00' %>
  </div>

  <div class="form-inputs">
    <%= f.label :competition_id, "Competition" %> <br>
    <%= f.collection_select :competition_id, Competition.all, :id, :name, :include_blank => false  %>
  </div>

  <div class="form-inputs">
    <%= f.association :varsity_member, :include_blank => false  %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, data: { confirm: 'Are you sure?'}%>
  </div>
<% end %>
