<h1>Listing Competition Debts</h1>

<div class="table-responsive">
<table class="table table-stripped">
  <thead>
    <tr>
      <th>Varsity Member</th>
      <th>Competition</th>
      <th>Source of Debt</th>
      <th style= "text-align: right;">Debt Amount</th>
    </tr>
  </thead>

  <tbody>
    <% @competition_debts.each do |competition_debt| %>
      <tr>
        <td><%= competition_debt.varsity_member %></td>
        <td><%= competition_debt.competition %></td>
        <td><%= competition_debt.source_of_debt %></td>
        <td style= "text-align: right;"><%= number_to_currency(competition_debt.debt_amount, :unit => "Php") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Competition Debt', new_competition_debt_path, class: "btn btn-warning" %>
