<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good Day <%= @user.to_s %>!</h1>
    <p>
      This is to acknowledge the payment you have made:<p>
      <br>
      <p>Amount Paid: <strong>Php <%= @debt.amount_paid %></strong>
    </p>
      <br>
      <p>Date Paid: <strong>Php <%= @debt.date_paid %></strong>
    </p>
    <br>
      <p>Remaining Debt: <strong>Php <%= @user.total_debt %></strong>
    </p>
    <br>
    <p>
      Officer-In-Charge: <strong><%= @officer.email %></strong>
    </p>
    <br>
    <p>
      Should there be any need for clarifications or corrections, contact: <%= @officer.email %>
    </p>
    <br>
    <p>Thank You for your prompt payment and have a great day!</p>
  </body>
</html>