<%= simple_form_for(@varsity_member) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :ID %>
    <%= f.text_field :id %>
  </div>

  <div class="form-inputs">
    <%= f.input :first_name %>
  </div>

  <div class="form-inputs">
    <%= f.input :last_name %>
  </div>

  <div class="form-inputs">
    <%= f.collection_select :year, 1..4 %>
  </div>

  <div class="form-inputs">
    <%= f.text_field :course %>
  </div>

  <div class="form-inputs">
    <%= f.text_field :contact_number %>
  </div>

  <div class="form-inputs">
    <%= f.text_field :email_address %>
  </div>

  <div class="form-inputs">
    <%= f.collection_select :varsity_track, ("Debater", "Adjudicator", "Debater and Adjudicator") %>
  </div>

  <div class="form-inputs">
    <%= f.collection_select :debater_position, ("Contingent Debater", "Contingent Adjudicator", "Non-contingent") %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
