<h1>Listing Varsity Members</h1>
<div class="responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Year</th>
        <th>Course</th>
        <th>Contact Number</th>
        <th>E-mail Address</th>
        <th>Varsity Track</th>
        <th>Debater Position</th>
        <th style= "text-align: right;">Total Debt</th>
        <th style= "text-align: right;">Total Acquired Quota Points</th>
        <th colspan="10"></th>
      </tr>
    </thead>

    <tbody>
      <% @varsity_members.each do |varsity_member| %>
        <tr>
          <td><%= varsity_member.vm_id %></td>
          <td><%= varsity_member.first_name %></td>
          <td><%= varsity_member.last_name %></td>
          <td><%= varsity_member.year %></td>
          <td><%= varsity_member.course %></td>
          <td><%= varsity_member.contact_number %></td>
          <td><%= varsity_member.email_address %></td>
          <td><%= varsity_member.varsity_track %></td>
          <td><%= varsity_member.debater_position %></td>
          <td style= "text-align: right;"><%= number_to_currency(varsity_member.total_debt, :unit => "Php") %></td>
          <td style= "text-align: right;"><%= number_with_precision(varsity_member.total_acquired_quota_points, precision: 2, delimiter: ',') %></td>
          <!-- <td><button class="btn btn-default" type="submit"><%= link_to 'Show', varsity_member %></button></td> -->
          <% if officer_in_charge_signed_in? %>
              <% @role = Role.find(current_officer_in_charge.role_id).name %>
              
              <% if @role == "Office of Training and Varsity"%>
                <td><%= link_to 'Edit', edit_varsity_member_path(varsity_member), class: "btn btn-warning" %></td>
                <td><%= link_to 'Delete', varsity_member, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>

              <% elsif @role == "Office of Finance" %>
                <td><%= link_to 'Pay', new_debt_settlement_path, class: "btn btn-primary"%></td>
                <td><%= link_to 'Add Debt', new_competition_debt_path(), class: "btn btn-danger" %></td>
              <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if officer_in_charge_signed_in? %>
      <% @role = Role.find(current_officer_in_charge.role_id).name %>

      <% if @role == "Office of Training and Varsity"%>
        <%= link_to 'New Varsity Member', new_varsity_member_path, class: "btn btn-default" %>
      <% end %>
<% end %>

<br>
<br>

<% if officer_in_charge_signed_in? %>
    <% @role = Role.find(current_officer_in_charge.role_id).name %>
        <% if @role == "Office of Training and Varsity" %>
          <% @competition = Competition.find_by(status: "Ongoing") %>

          <% if @competition != nil %>
          <%= link_to "End Training Session", edit_competition_path(@competition.id), class: "btn btn-danger", method: :get %>
          <% end %>
        <% elsif @role == "Office of Finance" %>
            <br>
              <%= link_to "Generate Balance Report", report_varsity_members_path(:format => :pdf), class: "btn btn-primary"%>
              <%= link_to "Email Balance 
              Report", report_email_varsity_members_path(:format => :pdf), class: "btn btn-primary"%>
      <% end %>
<% end %>