<p style="text-align: right;"><%= wicked_pdf_image_tag 'ads_logo.png', :size => '200x75' %></p>

<h1 style="text-align: center;">ATENEO DEBATE SOCIETY</h1>
<h2 style="text-align: center;">BALANCE REPORT</h2>

<p><strong>Date: </strong><%= Time.now.strftime("%m/%d/%Y") %> <span style="float: right;">Page 1 of 1</span></p>
<p><strong>Competition: </strong>World Debate Series</p>

<div class="responsive">
  <table class="table table-striped" style="border-spacing: 17px 10px; border: 1px solid black; ">
    <thead>
      <tr>
        <th>ID</th>
        <th>Last Name</th>
        <th>Varsity Track</th>
        <th>Debater Position</th>
        <th>Acquired QP</th>
        <th>Total Debt</th>
        <th colspan="10"></th>
      </tr>
    </thead>

    <tbody>
      <% @varsity_members.each do |varsity_member| %>
        <tr>
          <td><%= varsity_member.vm_id %></td>
          <td><%= varsity_member.last_name %></td>
          <td><%= varsity_member.varsity_track %></td>
          <td><%= varsity_member.debater_position %></td>
          <td style= "text-align: right;"><%= number_with_precision(varsity_member.total_acquired_quota_points, precision: 2, delimiter: ',') %></td>
          <td style= "text-align: right;"><%= number_to_currency(varsity_member.total_debt, :unit => "Php") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>