<%= simple_form_for(@competition) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: 'Competition Name' %>
  </div>

  <div class="form-inputs">
    <%= f.input :number_of_contingent, label: 'Number of members in the contingent', placeholder: '0' %>
  </div>

  <div class="form-inputs">
    <%= f.input :arqp_contingent_debater, :label => "Assigned Required Quota Points for Contingent Debater", placeholder: '0.00' %>
  </div>

  <div class="form-inputs">
    <%= f.input :arqp_contingent_adjudicator, :label => "Assigned Required Quota Points for Contingent Adjudicator", placeholder: '0.00' %>
  </div>

  <div class="form-inputs">
    <%= f.input :arqp_non_contingent, :label => "Assigned Required Quota Points for Non-Contingent", placeholder: '0.00' %>
  </div>

  <div class="form-inputs">
    <%= f.input :status, :as => :select, priority: [ "Ongoing" ], collection: [ "Ongoing", "Upcoming", "Processing"], :label => "Status", :include_blank => false  %>
  </div>

  <div class="form-inputs">
    <%= f.label :start_date, "Start Date" %>
    <%= f.date_select :start_date %>
  </div>

  <div class="form-inputs">
    <%= f.label :end_date, "End Date" %>
    <%= f.date_select :end_date %>
  </div>

  <div class="form-inputs">
    <%= f.input :quota_point_monetary_value, placeholder: '0.00' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, data: { confirm: 'Are you sure?'}%>
  </div>
<% end %>
