<h1>Listing Competitions</h1>
<p>
<a class="btn btn-default" href="/competitions">All</a>
<%= link_to "Ongoing", competitions_path(:status=>"Ongoing"), class: "btn btn-default" %>
<%= link_to "Completed", competitions_path(:status=>"Completed"), class: "btn btn-default" %>
<%= link_to "Upcoming", competitions_path(:status=>"Upcoming"), class: "btn btn-default" %> 
</p>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th style= "text-align: right;">Number of Contingent</th>
      <th style= "text-align: right;">Required QP for CD</th>
      <th style= "text-align: right;">Required QP for CA</th>
      <th style= "text-align: right;">Required QP for NC</th>
      <th>Status</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th style= "text-align: right;">Quota Point Monetary Value</th>
      <th colspan="9"></th>
    </tr>
  </thead>

  <tbody>
    <% @competitions.each do |competition| %>
      <tr>
        <td><%= competition.name %></td>
        <td style= "text-align: right;"><%= competition.number_of_contingent %></td>
        <td style= "text-align: right;"><%= number_with_precision(competition.arqp_contingent_debater, precision: 2, delimiter: ',') %></td>
        <td style= "text-align: right;"><%= number_with_precision(competition.arqp_contingent_adjudicator, precision: 2, delimiter: ',') %></td>
        <td style= "text-align: right;"><%= number_with_precision(competition.arqp_non_contingent, precision: 2, delimiter: ',') %></td>
        <td><%= competition.status %></td>
        <td><%= competition.start_date %></td>
        <td><%= competition.end_date %></td>
        <td style= "text-align: right;"><%= number_to_currency(competition.quota_point_monetary_value, :unit => "Php") %></td>
        <td><%= link_to 'Show', competition, class: "btn btn-primary" %></td>

        <% if officer_in_charge_signed_in? %>
              <% @role = Role.find(current_officer_in_charge.role_id).name %>

              <% if @role == "Office of Training and Varsity"%>
                  <td><%= link_to 'Edit', edit_competition_path(competition), class: "btn btn-warning" %></td>
              <% end %>
        <% end %>

        <td><%= link_to 'Delete', competition, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if officer_in_charge_signed_in? %>
      <% @role = Role.find(current_officer_in_charge.role_id).name %>

      <% if @role == "Office of Training and Varsity"%>
          <%= link_to 'New Competition', new_competition_path, class: "btn btn-default" %>
      <% end %>
<% end %>

