<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @competition.name %>
</p>

<p>
  <strong>Number of Contingent:</strong>
  <%= @competition.number_of_contingent %>
</p>

<p>
  <strong>Required Quota Points for Contingent Debater:</strong>
  <%= number_with_precision(@competition.arqp_contingent_debater, precision: 2, delimiter: ',') %>
</p>

<p>
  <strong>Required Quota Points for Contingent Adjudicator:</strong>
  <%= number_with_precision(@competition.arqp_contingent_adjudicator, precision: 2, delimiter: ',') %>
</p>

<p>
  <strong>Required Quota Points for Non-Contingent:</strong>
  <%= number_with_precision(@competition.arqp_non_contingent, precision: 2, delimiter: ',') %>
</p>

<p>
  <strong>Status:</strong>
  <%= @competition.status %>
</p>

<p>
  <strong>Start Date:</strong>
  <%= @competition.start_date %>
</p>

<p>
  <strong>End Date:</strong>
  <%= @competition.end_date %>
</p>

<p>
  <strong>Quota Point Monetary Value:</strong>
  <%= number_to_currency(@competition.quota_point_monetary_value, :unit => "Php") %>
</p>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Back', competitions_path %>
