<h1>Listing Training Activies</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Quota Point Value</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @training_activities.each do |training_activity| %>
      <tr>
        <td><%= training_activity.name %></td>
        <td><%= number_with_precision(training_activity.quota_point_value, precision: 2, delimiter: ',') %></td>
        <td style= "text-align: right;"><%= link_to 'Show', training_activity, class: "btn btn-primary" %></td>

        <% if officer_in_charge_signed_in? %>
              <% @role = Role.find(current_officer_in_charge.role_id).name %>

              <% if @role == "Office of Training and Varsity"%>
                  <td><%= link_to 'Edit', edit_training_activity_path(training_activity), class: "btn btn-warning" %></td>
              <% end %>
        <% end %>

        <% if training_activity.name != "Debate Round" %>
        <td><%= link_to 'Delete', training_activity, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger" %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if officer_in_charge_signed_in? %>
      <% @role = Role.find(current_officer_in_charge.role_id).name %>

      <% if @role == "Office of Training and Varsity"%>
          <%= link_to 'New Training Activity', new_training_activity_path, class: "btn btn-default" %>
      <% end %>
<% end %>


