<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training_activity.name %>
</p>

<p>
  <strong>Quota Point Value:</strong>
  <%= number_with_precision(@training_activity.quota_point_value, precision: 2, delimiter: ',') %> 
</p>

<%= link_to 'Edit', edit_training_activity_path(@training_activity), class: "btn btn-default" %>
<%= link_to 'Back', training_activities_path, class: "btn btn-default" %>
