<h1>Listing Tryouts</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Comeptition</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @tryout_intents.each do |tryout_intent| %>
      <tr>
        <td><%= tryout_intent.date %></td>
        <td><%= tryout_intent.competition.to_s %></td>
        <td><%= link_to 'Show', tryout_intent, class: "btn btn-primary" %></td>

        <% if officer_in_charge_signed_in? %>
              <% @role = Role.find(current_officer_in_charge.role_id).name %>

              <% if @role == "Office of Training and Varsity"%>
                  <td><%= link_to 'Edit', edit_tryout_intent_path(tryout_intent), class: "btn btn-warning" %></td>
                  <td><%= link_to 'Delete', tryout_intent, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
              <% end %>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if officer_in_charge_signed_in? %>
      <% @role = Role.find(current_officer_in_charge.role_id).name %>

      <% if @role == "Office of Training and Varsity"%>
          <%= link_to 'Register for Tryouts', new_tryout_intent_path, class: "btn btn-default" %>
      <% end %>
<% end %>


