<p id="notice"><%= notice %></p>


<p>
  <strong>Date:</strong>
  <%= @tryout_intent.date %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @tryout_intent.competition.to_s %>
</p>

  <strong>Tryout Members:</strong> 
</p>

    <table style="width: 100%;">
    <tr>
      <th>Name</th>
      <th>Position</th>
    </tr>
    <% @tryout_intent.tryout_members.each do |member| %>
      <tr>
        <td><%= member.varsity_member.to_s%></td>
        <td><%= member.debater_position%></td>
      </tr>
    <% end %>
  </table>

<%= link_to 'Edit', edit_tryout_intent_path(@tryout_intent), class: "btn btn-default" %>
<%= link_to 'Back', tryout_intents_path, class: "btn btn-default" %>

<br>

<% if officer_in_charge_signed_in? %>
      <% @role = Role.find(current_officer_in_charge.role_id).name %>

      <% if @role == "Office of Training and Varsity"%>
          <p style="margin-top: 1%;"><%= link_to 'End Tryouts', edit_contingent_path(@tryout_intent.id), class: "btn btn-danger" %></p>
      <% end %>
<% end %>

