<%= simple_nested_form_for(@contingent) do |f| %>
  <%= f.error_notification %>

<% people = TryoutMember.where(tryout_intent_id = @contingent.id) %>
    <div class="form-inputs">
    <%= f.fields_for :contingent_members do |ff|%>
  <%= ff.association :tryout_member, :as => :collection_select, collection: people.each, :include_blank => false %>
    <%= ff.input :debater_position, :as => :radio_buttons, :collection => ContingentMember::POSITION, :include_blank => false %>
      <p style="margin-bottom: 1%;"><%= ff.link_to_remove "Remove", class: "btn btn-danger" %></p>
    <% end %>
  </div>
      <p><%= f.link_to_add "Add a member", :contingent_members, class: "btn btn-default" %></p>

  <div class="form-actions">
    <%= f.button :submit, data: { confirm: 'Are you sure?'}%>
  </div>
<% end %>
