<h1>Pages#index</h1>
<% if officer_in_charge_signed_in? %>
<% @role = Role.find(current_officer_in_charge.role_id).name %>
  <p><strong>Email</strong>: <%=current_officer_in_charge.email%></p>
  <p><strong>User Type</strong>: <%= @role%></p>

  <% if @role== "otv" %>
    <p><%= link_to "Contingents", contingents_path %> | <%= link_to "Competitions", competitions_path %> | <%= link_to "Training Activities", training_activities_path %> | <%= link_to "Varsity Members", varisity_members_path %> | <%= link_to "Tryout Intent", tryout_intents_path %></p>
  <% elsif @role == "of" %>
    <p><%= link_to "Acquired Quota Points", acquired_quota_points_path %> | <%= link_to "Debt Settlements", debt_settlemts_path %> | <%= link_to "Varsity Members", varisity_members_path %></p>
  <% end %>
  <p><%= link_to "Logout", destroy_officer_in_charge_session_path, :method => :delete %></p>
<% else %>
  <p><%= link_to "Login", new_officer_in_charge_session_path %></p>
<% end %>

