<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs" style="color: white;">
    <%= f.input :email, required: false, autofocus: true, placeholder: 'Email', label: false %>
    <%= f.input :password, required: false, placeholder: 'Email', label: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: "btn btn-warning btn-md btn-block" %>
  </div>
<% end %>

<p style="text-align: center;"><%= render "devise/shared/links" %></p>
