<%= simple_nested_form_for(@acquired_quota_point) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label 'What was the training activity done?' %><br>
    <%= f.association :training_activity, :include_blank => false %>
  </div>

  <div class="form-inputs">

    <%= f.label 'Date Conducted' %>
<<<<<<< HEAD
    <%= f.date_select :date_conducted, selected: Date.today %>
=======
    <%= f.date_select :date_conducted, :selected => Date.today, :order => [ :day, :month, :year]%>
>>>>>>> 90e1052ade7f1ca80afcfd4eb5685805006dfccc
  </div>


  <div class="form-inputs">
    <%= f.fields_for :activity_members do |ff|%>
      <%= ff.association :varsity_member, :include_blank => false  %>

      <%= ff.input :judge, as: :boolean, checked_value: true, unchecked_value: false  %>
      <%= ff.input :article, as: :boolean, checked_value: true, unchecked_value: false  %>
      <%= ff.link_to_remove "Remove" %>
    <% end %>
    <p><%= f.link_to_add "Add a member", :activity_members %></p>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
