<h1>Listing Acquired Quota Points</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Training Activity</th>
      <th>Date Conducted</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @acquired_quota_points.each do |acquired_quota_point| %>
      <tr>
        <td><%= acquired_quota_point.training_activity %></td>
        <td><%= acquired_quota_point.date_conducted %></td>
        <td style="text-align: right"><%= link_to 'Show', acquired_quota_point, class: "btn btn-warning" %></td>
        <td><%= link_to 'Delete', acquired_quota_point, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if officer_in_charge_signed_in? %>
      <% @role = Role.find(current_officer_in_charge.role_id).name %>

      <% if @role == "Office of Training and Varsity"%>
        <%= link_to 'New Entry', new_acquired_quota_point_path, class: "btn btn-default" %>
      <% end %>
<% end %>

