<h1>Listing Debt Settlements</h1>

<table class="table table-stripped">
  <thead>
    <tr>
      <th>Date Paid</th>
      <th>Varsity Member</th>
      <th>Officer-in-Charge</th>
      <th style="text-align: right">Amount Paid</th>
    </tr>
  </thead>

  <tbody>
    <% @debt_settlements.each do |debt_settlement| %>
      <tr>
        <td><%= debt_settlement.date_paid %></td>
        <td><%= debt_settlement.varsity_member %></td>
        <td><%= debt_settlement.officer %></td>
        <td style= "text-align: right;"><%= number_to_currency(debt_settlement.amount_paid, :unit => "Php") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if officer_in_charge_signed_in? %>
      <% @role = Role.find(current_officer_in_charge.role_id).name %>

      <% if @role == "Office of Finance"%>
        <%= link_to 'New Debt Settlement', new_debt_settlement_path, class: "btn btn-warning" %>
      <% end %>
<% end %>
