<p>
  <strong>Date Paid:</strong>
  <%= @debt_settlement.date_paid %>
</p>

<p>
  <strong>Varsity Member:</strong>
  <%= @debt_settlement.varsity_member %>
</p>

<p>
  <strong>Officer:</strong>
  <%= @debt_settlement.officer %>
</p>

<p>
  <strong>Amount Paid: PHP </strong>
  <%= number_to_currency(@debt_settlement.amount_paid, :unit => "Php") %>
</p>

<%= link_to 'Back', debt_settlements_path, class: "btn btn-warning" %>